.idea/
.ropeproject/
.venv/
.vscode/
app_data/
build/
dist/
dist_exe/
dist_setup/
docs/build/
list/
node_modules/
src/scaldys/logs/*.jsonl
src/scaldys.egg-info/
.prettierrc
ideas.md
package.json
package-lock.json

