# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg
*.egg-info/
dist/
artifacts/
build/
.eggs/
wheels/

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.tar.gz
*.whl
MANIFEST

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/

# Type checkers
.mypy_cache/
.pyright/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Sphinx
docs/**/build/
docs/**/_build/

# AI assistants
.claude
.junie

# uv
# uv.lock

# This project
.ropeproject/
app_data/
node_modules/
wip/
src/scaldys/logs/*.jsonl
ideas.md
package.json
package-lock.json
*.spec

